<div class="container-fluid">
    <div class="row">

        <!-- 左側カラム -->
        <div class="col-2 left-bar">
            <div class="fix-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">こんにちは !</a>
                    </li>
                    <li class="nav-item">
                        <p class="user-name text-center"><%= current_user.name %> さん</p>
                    </li>

                    <!-- ボーダーライン -->
                    <div class="border-bottom">
                    </div>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                          <span>
                              <i class="fas fa-exclamation-circle"></i>
                          </span>
                          はじめに
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span>
                                <i class="fas fa-search"></i>
                            </span>
                            時系列分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypages/index">
                            <span>
                                <i class="fas fa-adjust"></i></i>
                            </span>
                            ポートフォリオ作成
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span>
                                <i class="fas fa-calculator"></i>
                            </span>
                            マイポートフォリオ
                        </a>
                    </li>
                    <!-- ボーダーライン -->
                    <div class="border-bottom">
                    </div>

                    <li class="nav-item">
                        <a class="nav-link text-left logout" href="#">
                          <span>
                              <i class="fas fa-user-edit"></i>
                          </span>
                          登録情報変更
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-left logout" href="#">
                          <span>
                              <i class="fas fa-sign-out-alt"></i>
                          </span>
                          ログアウト
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- メインカラム -->
        <div class="col-10 main-col mt-5">
            <div class="card bg-light shadow col-8 offset-2">
                <h5 class="card-header text-center">
                    銘柄のコードを指定してください（最大５つまで指定できます）
                    <br>7201,7203,7261
                </h5>
                <div class="card-body">
                    <div class="input-group">
                        <input id="analyses-1" type="text" class="form-control mr-1" placeholder="銘柄１">
                        <input id="analyses-2" type="text" class="form-control mr-1" placeholder="銘柄２">
                        <input id="analyses-3" type="text" class="form-control mr-1" placeholder="銘柄３">
                        <input id="analyses-4" type="text" class="form-control mr-1" placeholder="銘柄４">
                        <input id="analyses-5" type="text" class="form-control mr-1" placeholder="銘柄５">
                        <span class="input-group-btn">
                          <button id="analyses-button" type="button" class="btn btn-warning">分析</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- メインカラム -->
        <div class="col-10 main-col mt-5">
            <div class="card bg-light shadow col-8 offset-2">
                <h5 class="card-header text-center">
                    銘柄のコードを指定してください（最大５つまで指定できます）
                </h5>
                <div id="analyses-result" class="card-body">

                </div>
            </div>
        </div>

    </div>
</div>
