<div class="container-fluid">
    <div class="row">

        <!-- 左側カラム -->
<!--         <div class="col-2 left-bar">
            <div class="fix-menu">
                <ul class="nav flex-column">
                    <h5 class="top-icon text-center mt-3 pb-3 under-line">
                        <a href="/">
                            Piggy bank
                            <span>
                                <i class="fas fa-piggy-bank fa-2x"></i>
                            </span>
                        </a>
                    </h5>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                          <span>
                              <i class="fas fa-exclamation-circle"></i>
                          </span>
                          はじめに
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span>
                                <i class="fas fa-search"></i>
                            </span>
                            （仮）時系列分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mypages/index">
                            <span>
                                <i class="fas fa-adjust"></i></i>
                            </span>
                            ポートフォリオ作成
                        </a>
                    </li>
                    <li class="nav-item under-line">
                        <a class="nav-link" href="#">
                            <span>
                                <i class="fas fa-calculator"></i>
                            </span>
                            過去の結果
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->




    </div>
</div>
