<div class="container-fluid">
  <div class="row">

    <!-- 左側カラム -->
    <div class="col-2 left-bar">
        <div class="fix-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">こんにちは !</a>
                </li>
                <li class="nav-item">
                    <p class="user-name text-center"><%= current_user.name %> さん</p>
                </li>

                <!-- ボーダーライン -->
                <div class="border-bottom">
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span>
                          <i class="fas fa-exclamation-circle"></i>
                      </span>
                      はじめに
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/analyses/index">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                        時系列分析
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span>
                            <i class="fas fa-adjust"></i></i>
                        </span>
                        ポートフォリオ作成
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span>
                            <i class="fas fa-calculator"></i>
                        </span>
                        マイポートフォリオ
                    </a>
                </li>
                <!-- ボーダーライン -->
                <div class="border-bottom">
                </div>

                <li class="nav-item">
                    <a class="nav-link text-left logout" href="#">
                      <span>
                          <i class="fas fa-user-edit"></i>
                      </span>
                      登録情報変更
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-left logout" href="#">
                      <span>
                          <i class="fas fa-sign-out-alt"></i>
                      </span>
                      ログアウト
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- メインカラム -->
    <div class="col-10 main-col">

        <div id="page_top" class="right-row-header shadow">
            <h1 class="text-center">DashBoard</h1>
        </div>

        <div class="col-12 mb-4 mt-4">
          <div class="card border-primary h-100 bg-light shadow">
            <div class="card-body">
              <h1>サンプル</h1>
            </div>
          </div>
        </div>

        <div class="col-12 mb-4 mt-4">
            <!-- 検索画面 -->
            <div class="col-5 offset-1 search-row">
                <div class="card bg-light shadow">
                    <h5 class="card-header">
                        Search
                    </h5>
                    <div class="card-body" style="min-height:400px; max-height:400px;">
                        <div class="input-group">
                            <input id="search-form" type="text" class="form-control mr-1" placeholder="銘柄名、コード" aria-label="...">
                            <span class="input-group-btn">
                              <button id="search-button" type="button" class="btn btn-warning">検索</button>
                            </span>
                        </div>
                        <div id="search-table">
                        </div>
                    </div>
                </div>
            </div>

            <!-- ポートフォリオ -->
            <div class="col-5 search-row">
                <div class="card bg-light shadow">
                    <h5 class="card-header">
                        Portfolio
                    </h5>
                    <div class="card-body" style="min-height:350px;">
                        <div class="port-area" style="min-height:307px; max-height:307px;">
                            <table class="table table-hover">
 <!--                        <thead>
                          <tr>
                            <th class="col-xs-2">コード</th>
                            <th class="col-xs-8">銘柄名</th>
                            <th class="col-xs-2"></th>
                          </tr>
                        </thead> -->
                        <!-- ポートフォリオ作成のための銘柄を表示していくところ -->
                                <tbody id="portfolio-table">
                                </tbody>
                            </table>
                        </div>
                      <div class="col-6 col-offset-3 mx-auto mt-3">
                        <button id="opt-btn" class="btn btn-block btn-warning">計算する</button>
                      </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- 最適化結果を入れる -->
        <div class="col-12 mb-4">
            <div class="col-12 mychart">
                <div class="card bg-light shadow">
                    <h5 class="card-header">
                        Optimization
                    </h5>
                    <div class="card-body" style="min-height:350px;">
                        <div class="col-12">
                            <div class="col-8 port-chart">
                                <canvas id="port-chart1" width="100%" height="80%"></canvas>
                            </div>
                            <div class="col-3 port-datas mb-5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card bg-light shadow">
                <h5 class="card-header text-center">
                    条件指定
                </h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                              <td style="height: 30px;"></td>
                              <td>利益</td>
                              <td>リスク</td>
                            </tr>
                        </thead>
                        <tbody id="opt-result-table">
                            <tr>
                              <td style="height: 80px;">1</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td style="height: 80px;">2</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td style="height: 80px;">3</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td style="height: 80px;">4</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td style="height: 80px;">5</td>
                              <td></td>
                              <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="card bg-light shadow">
                <h5 class="card-header text-center">
                    条件指定
                </h5>
                <div class="card-body">
                    <div class="col-10 offset-1">
                        <div class="input-group">
                            <input id="simulation-day" type="text" class="form-control mr-1" placeholder="予想日数 ~200日">
                            <input id="simulation-select" type="text" class="form-control mr-1" placeholder="選択肢 1~5">
                            <input id="simulation-price" type="text" class="form-control mr-1" placeholder="投資金額 50万円~">
                            <span class="input-group-btn">
                              <button id="simulation-button" type="button" class="btn btn-warning">計算する</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- シミュレーション結果 -->
        <div class="col-12">
            <div class="col-12 mysim">
                <div class="card bg-light shadow">
                    <h5 class="card-header text-center">
                        シュミレート
                    </h5>
                    <div class="card-body" style="min-height: 300px;">
                        <canvas id="port-chart2" width="100%" height="50%"></canvas>
                    </div>
                    <div id="return-result" class="col-12">
                      <p></p>
                    </div>
                    <div class="col-4 offset-4 mb-5">
                        <button id="port-save" class="btn btn-block btn-warning">ポートフォリオを保存する</button>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>



<script>
// --------------------------------------------------------------
//最適化計算結果
// --------------------------------------------------------------
var BarDatas={
    type: "horizontalBar",
    data: {
        labels: ["選択１","選択２","選択３","選択４","選択５"],
        datasets:[]
    },
    options:{
        responsive: true,
        legend:{
            position: 'bottom'
        },
        scales:{
            xAxes:[
                {
                    stacked: true,
                    ticks: {
                        max: 1,
                        min: 0,
                        stepSize:0.2
                    },
                    gridLines: {
                      display: false,
                      drawBorder: true
                    }
                }
            ],
            yAxes: [
                {
                    stacked: true,
                    scaleLabel: {
                        fontSize: 100,
                    },
                    gridLines: {
                      display: false,
                      drawBorder: true
                    }
                }
            ]
        }
    }
};

// var ctx = document.getElementById("port-chart1").getContext('2d');
var ctx = $('#port-chart1')[0].getContext("2d");
//グラフ描画
// var char = new Chart(ctx).Line(BarDatas,options);
var char = new Chart(ctx,BarDatas);

// --------------------------------------------------------------
//シミュレーション結果
// --------------------------------------------------------------
var lineDatas={
    type: "line",
    data: {
        labels:[],
        datasets:[]
    },
    options:{
        responsive: true,
        legend:{
            position: 'bottom'
        },
        scales:{
            xAxes:[
                {
                    // ticks: {
                    //     max: 10,
                    //     min: 0,
                    //     stepSize:2
                    // },
                    gridLines: {
                      display: false,
                      drawBorder: true
                    }
                }
            ],
            yAxes: [
                {
                    // ticks: {
                    //     max: 10,
                    //     min: -10,
                    //     stepSize:2
                    // },
                    scaleLabel: {
                        fontSize: 100,
                    },
                    gridLines: {
                      display: false,
                      drawBorder: true
                    }
                }
            ]
        }
    }
};

// var ctx = document.getElementById("port-chart1").getContext('2d');
var ctx2 = $('#port-chart2')[0].getContext("2d");
//グラフ描画
// var char = new Chart(ctx).Line(BarDatas,options);
var char2 = new Chart(ctx2,lineDatas);
</script>

