<div class="container-fluid">
  <div class="row">

    <!-- 左側カラム -->
    <div class="col-2 left-bar" style="min-height: 100%;>

      <ul class="nav flex-column">
        <div class="border-bottom">
            <li class="nav-item">
                <a class="nav-link" href="#">こんにちは !</a>
            </li>
            <li class="nav-item">
                <p class="user-name text-center"><%= current_user.name %> さん</p>
            </li>
        </div>

        <div class="border-bottom">
            <li class="nav-item">
                <a class="nav-link" href="#">
                  <span>
                      <i class="fas fa-exclamation-circle"></i>
                  </span>
                  はじめに
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                  <span>
                      <i class="fas fa-search"></i>
                  </span>
                  選ぶ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span>
                        <i class="fas fa-adjust"></i></i>
                    </span>
                    最適化
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                  <span>
                      <i class="fas fa-calculator"></i>
                  </span>
                  シミュレート
                </a>
            </li>
        </div>

        <li class="nav-item">
            <a class="nav-link text-left logout" href="#">
              <span>
                  <i class="fas fa-user-edit"></i>
              </span>
              登録情報変更
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-left logout" href="#">
              <span>
                  <i class="fas fa-sign-out-alt"></i>
              </span>
              ログアウト
            </a>
        </li>
      </ul>
    </div>

      <!-- メインカラム -->
      <div class="col-10 main-col">
        <div class="right-row">
            <h1>DashBoard</h1>
        </div>
        <!-- その人が選んだポートフォリオの現在価格 -->
        <div class="col-12 right-row">
          <div class="col-8 inline-block mychart">
              <!-- カード要素内 -->
              <div class="card bg-light shadow">
                  <h5 class="card-header text-center">
                      推移グラフ
                  </h5>
                  <!-- 検索欄 -->
                  <div class="card-body" style="min-height: 300px;">
                      <canvas id="selected-port" width="100%" height="50%"></canvas>
                 </div>
              </div>
          </div>
          <div class="col-3 col-offset-2 inline-block mychart">
              <!-- カード要素内 -->
              <div class="card bg-light shadow">
                  <h5 class="card-header text-center">
                      詳細情報
                  </h5>
                  <!-- 検索欄 -->
                  <div class="card-body" style="min-height: 300px;">
                      <canvas id="selected-port" width="100%" height="50%"></canvas>
                 </div>
              </div>
          </div>
        </div>

        <!-- <h1>2段目</h1> -->
        <div class="col-12 right-row">
            <!-- 検索画面 -->
            <div class="col-5 offset-1 inline-block search-row">
                <div class="card bg-light shadow">
                    <h5 class="card-header text-center">
                        銘柄検索
                    </h5>
                    <!-- 検索欄 -->
                    <div class="card-body" style="min-height: 400px;">
                        <div class="input-group">
                            <input id="search-form" type="text" class="form-control" placeholder="銘柄名、コードを入力してください" aria-label="...">
                            <span class="input-group-btn">
                              <button id="search-button" type="button" class="btn btn-warning">検索</button>
                            </span>
                        </div>
                        <div id="search-table">
                        </div>
                    </div>
                </div>
            </div>

            <!-- ポートフォリオ -->
            <div class="col-5 inline-block search-row">
                <div class="card bg-light shadow">
                    <h5 class="card-header text-center">
                        ポートフォリオ
                    </h5>
                    <div class="card-body" style="min-height: 350px;">
                        <div class="port-area" style="min-height: 307px;">
                            <table class="table table-hover">
 <!--                        <thead>
                          <tr>
                            <th class="col-xs-2">コード</th>
                            <th class="col-xs-8">銘柄名</th>
                            <th class="col-xs-2"></th>
                          </tr>
                        </thead> -->
                        <!-- ポートフォリオ作成のための銘柄を表示していくところ -->
                                <tbody id="portfolio-table">
                                </tbody>
                            </table>
                        </div>
                      <div class="col-4 col-offset-4 mx-auto mt-3">
                        <button id="opt-btn" class="btn btn-block btn-warning">計算する</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 最適化結果を入れる -->
        <div class="col-12 right-row">
            <div class="col-10 offset-1 inline-block mychart">
                <!-- カード要素内 -->
                <div class="card bg-light shadow">
                    <h5 class="card-header text-center">
                        最適化結果
                    </h5>
                    <div class="card-body" style="min-height: 300px;">
                      <!-- リスク１ -->
                      <div class="col-12">
                        <div class="col-8 inline-block">
                            <p>ここにグラフ</p>
                            <canvas id="port-chart1" width="100%" height="50%"></canvas>
                        </div>
                        <div class="col-3 inline-block">
                            <p>ここに数値</p>
                        </div>
                      </div>
                      <!-- リスク２ -->
<!--                       <div class="col-12">
                        <div class="col-8 inline-block">
                            <p>ここにグラフ</p>
                            <canvas id="port-chart2"></canvas>
                        </div>
                        <div class="col-3 inline-block">
                            <p>ここに数値</p>
                        </div>
                      </div> -->
                      <!-- リスク３ -->
<!--                       <div class="col-12">
                        <div class="col-8 inline-block">
                            <p>ここにグラフ</p>
                            <canvas id="port-chart3" width="100%" height="50%"></canvas>
                        </div>
                        <div class="col-3 inline-block">
                            <p>ここに数値</p>
                        </div>
                      </div> -->
                      <!-- リスク４ -->
<!--                       <div class="col-12">
                        <div class="col-8 inline-block">
                            <p>ここにグラフ</p>
                            <canvas id="port-chart4" width="100%" height="50%"></canvas>
                        </div>
                        <div class="col-3 inline-block">
                            <p>ここに数値</p>
                        </div>
                      </div> -->
                      <!-- リスク５ -->
<!--                       <div class="col-12">
                        <div class="col-8 inline-block">
                            <p>ここにグラフ</p>
                            <canvas id="port-chart5" width="100%" height="50%"></canvas>
                        </div>
                        <div class="col-3 inline-block">
                            <p>ここに数値</p>
                        </div>
                      </div> -->
                   </div>
                </div>
            </div>
        </div>
        <!-- 最適化結果を入れる -->
        <div class="col-12 right-row">
            <div class="col-10 offset-1 inline-block mychart">
                <!-- カード要素内 -->
                <div class="card bg-light shadow">
                    <h5 class="card-header text-center">
                        シュミレート
                    </h5>
                    <div class="card-body" style="min-height: 300px;">
                        <p>ここにシュミレート結果を入れる</p>
                        <canvas id="port-chart2" width="100%" height="50%"></canvas>
                   </div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
// --------------------------------------------------------------
//ポートフォリオの削除が行われた際に検索欄にあるbuttonの表示を
//追加済から追加に変更する関数
//chart.jsはHTMLの中のscriptタグ内に書かなくてはいけない
// --------------------------------------------------------------
function opt_chart(data) {

    //辞書型のデータセットを追加していく空配列
    result_datas=[];
    //凡例を入れたリスト

    datas=data["datas"];
    labels=data["labels"];
    colors=["green","red","bule","yellow","gray"];
    num=labels.length;

    for (var i=0; i<=num; i++) {
        dic={
            label:labels[i],
            data: datas[i],
            backgroundColor:colors[i],
            borderColor: "black",
            borderWidth: 2
        };
        //グラフに表示するデータ
        result_datas.push(dic);
    };

    // グラフにするデータ
    var BarDatas={
        type: "horizontalBar",
        data: {
            labels: ["選択１","選択２","選択３","選択４","選択５"],
            datasets:result_datas
        }
    };

    // オプション
    var options = {
        responsive: false,
        title: {
            display: true,
            fontSize: 20,
            text: "帯グラフ"
        },
        legend: {
            position: 'bottom'
        },
        scales: {
            xAxes: [
                {
                    stacked: true,
                }
            ],
            yAxes: [
                {
                    stacked: true,
                }
            ]
        }
    };

    // var ctx = document.getElementById("port-chart1").getContext('2d');
    var ctx = $('#port-chart1')[0].getContext("2d");
    //グラフ描画
    console.log("chart前");
    var char = new Chart(ctx).Line(BarDatas,options);
}

$(document).on('ready', function() {
    $(document).on('click','#opt-btn',function(){

        var tbody = $('#portfolio-table')[0];
        var num = tbody.rows.length; // 行数を取得する,header=1とする

        var codes=[];
        for (var i=0; i<num; i++) {
            codes.push(tbody.rows[i].cells[0].textContent);
        }

        if(codes.length < 3){
            return alert('銘柄は最低３つ選んでください');
        }

        // console.log(codes);

        $.ajax({
            url: '/optimizations/calc',
            method: 'post',
            data: {'data': codes}
        })
        .done((data) => {
            // グラフを描写するコード
            opt_chart(data)
        })
        .fail((data) => {
            console.log(data)
        })
        // Ajaxリクエストが成功・失敗どちらでも発動
        .always((data) => {
        });
    });
});

</script>
