<div class="container-fluid">
  <div class="row">

    <!-- 左側カラム -->
    <div class="col-2 left-bar">
        <div class="fix-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">こんにちは !</a>
                </li>
                <li class="nav-item">
                    <p class="user-name text-center"><%= current_user.name %> さん</p>
                </li>

                <!-- ボーダーライン -->
                <div class="border-bottom">
                </div>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span>
                          <i class="fas fa-exclamation-circle"></i>
                      </span>
                      はじめに
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span>
                          <i class="fas fa-search"></i>
                      </span>
                      選ぶ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span>
                            <i class="fas fa-adjust"></i></i>
                        </span>
                        最適化
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span>
                          <i class="fas fa-calculator"></i>
                      </span>
                      シミュレート
                    </a>
                </li>
                <!-- ボーダーライン -->
                <div class="border-bottom">
                </div>

                <li class="nav-item">
                    <a class="nav-link text-left logout" href="#">
                      <span>
                          <i class="fas fa-user-edit"></i>
                      </span>
                      登録情報変更
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-left logout" href="#">
                      <span>
                          <i class="fas fa-sign-out-alt"></i>
                      </span>
                      ログアウト
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- メインカラム -->
    <div class="col-10 main-col">
        <div class="right-row-header">
            <h1 class="text-center">DashBoard</h1>
        </div>
        <!-- その人が選んだポートフォリオの現在価格 -->
<!--         <div class="col-12 right-row">
          <div class="col-8 inline-block mychart">
              <div class="card bg-light shadow">
                  <h5 class="card-header text-center">
                      推移グラフ
                  </h5>
                  <div class="card-body" style="min-height: 300px;">
                      <canvas id="selected-port" width="100%" height="50%"></canvas>
                 </div>
              </div>
          </div>
          <div class="col-3 col-offset-2 inline-block mychart">
              <div class="card bg-light shadow">
                  <h5 class="card-header text-center">
                      詳細情報
                  </h5>
                  <div class="card-body" style="min-height: 300px;">
                      <canvas id="selected-port" width="100%" height="50%"></canvas>
                 </div>
              </div>
          </div>
        </div> -->

        <!-- <h1>2段目</h1> -->
        <div class="col-12 right-row">
            <!-- 検索画面 -->
            <div class="col-5 inline-block search-row">
                <div class="card bg-light shadow">
                    <h5 class="card-header text-center">
                        銘柄検索
                    </h5>
                    <!-- 検索欄 -->
                    <div class="card-body" style="min-height:400px; max-height:400px;">
                        <div class="input-group">
                            <input id="search-form" type="text" class="form-control" placeholder="銘柄名、コードを入力してください" aria-label="...">
                            <span class="input-group-btn">
                              <button id="search-button" type="button" class="btn btn-warning">検索</button>
                            </span>
                        </div>
                        <div id="search-table">
                        </div>
                    </div>
                </div>
            </div>

            <!-- ポートフォリオ -->
            <div class="col-5 inline-block search-row">
                <div class="card bg-light shadow">
                    <h5 class="card-header text-center">
                        ポートフォリオ
                    </h5>
                    <div class="card-body" style="min-height:350px;">
                        <div class="port-area" style="min-height:307px; max-height:307px;">
                            <table class="table table-hover">
 <!--                        <thead>
                          <tr>
                            <th class="col-xs-2">コード</th>
                            <th class="col-xs-8">銘柄名</th>
                            <th class="col-xs-2"></th>
                          </tr>
                        </thead> -->
                        <!-- ポートフォリオ作成のための銘柄を表示していくところ -->
                                <tbody id="portfolio-table">
                                </tbody>
                            </table>
                        </div>
                      <div class="col-6 col-offset-3 mx-auto mt-3">
                        <button id="opt-btn" class="btn btn-block btn-warning">計算する</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 最適化結果を入れる -->
        <div class="col-12 right-row">
            <div class="col-12 mychart">
                <!-- カード要素内 -->
                <div class="card bg-light shadow">
                    <h5 class="card-header text-center">
                        最適化結果
                    </h5>
                    <div class="card-body" style="min-height:350px;">
                      <!-- リスク１ -->
                        <div class="col-12">
                            <div class="col-8 inline-block">
                                <canvas id="port-chart1" width="100%" height="80%"></canvas>
                            </div>
                            <div class="col-3 inline-block">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                          <td></td>
                                          <td>利益(%)</td>
                                          <td>リスク(%)</td>
                                        </tr>
                                    </thead>
                                    <tbody id="opt-result-table">
                                        <tr>
                                          <td>1</td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td>2</td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td>3</td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td>4</td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td>5</td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="col-6">
                                <!-- シュミレーション計算をする -->
                                <div class="input-group">
                                    <input id="simulation-day" type="text" class="form-control" placeholder="予想日数" aria-label="...">
                                    <input id="simulation-select" type="text" class="form-control" placeholder="選択肢" aria-label="...">
                                    <input id="simulation-price" type="text" class="form-control" placeholder="投資金額" aria-label="...">
                                    <span class="input-group-btn">
                                      <button id="simulation-button" type="button" class="btn btn-warning">計算する</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 最適化結果を入れる -->
        <div class="col-12 right-row">
            <div class="col-12 inline-block mychart">
                <div class="card bg-light shadow">
                    <h5 class="card-header text-center">
                        シュミレート
                    </h5>

                    <div class="card-body" style="min-height: 300px;">
                        <canvas id="port-chart2" width="100%" height="50%"></canvas>
                   </div>
                   <div id="return-reult" class="ml-5">
                      <p></p>
                   </div>
                   <div class="col-3 offset-1 mb-3">
                        <button id="port-save" class="btn btn-block btn-warning">保存する</button>
                   </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// --------------------------------------------------------------
//最適化計算結果
// --------------------------------------------------------------
var BarDatas={
    type: "horizontalBar",
    data: {
        labels: ["選択１","選択２","選択３","選択４","選択５"],
        datasets:[]
    },
    options:{
        responsive: true,
        legend:{
            position: 'bottom'
        },
        scales:{
            xAxes:[
                {
                    stacked: true,
                    ticks: {
                        max: 1,
                        min: 0,
                        stepSize:0.2
                    },
                    gridLines: {
                      display: false
                    }
                }
            ],
            yAxes: [
                {
                    stacked: true,
                    scaleLabel: {
                        fontSize: 100,
                    },
                    gridLines: {
                      display: false
                    }
                }
            ]
        }
    }
};

// var ctx = document.getElementById("port-chart1").getContext('2d');
var ctx = $('#port-chart1')[0].getContext("2d");
//グラフ描画
// var char = new Chart(ctx).Line(BarDatas,options);
var char = new Chart(ctx,BarDatas);

// --------------------------------------------------------------
//シミュレーション結果
// --------------------------------------------------------------
var lineDatas={
    type: "line",
    data: {
        labels:[],
        datasets:[]
    },
    options:{
        responsive: true,
        legend:{
            position: 'bottom'
        },
        scales:{
            xAxes:[
                {
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize:2
                    },
                    gridLines: {
                      display: false
                    }
                }
            ],
            yAxes: [
                {
                    ticks: {
                        max: 10,
                        min: -10,
                        stepSize:2
                    },
                    scaleLabel: {
                        fontSize: 100,
                    },
                    gridLines: {
                      display: false
                    }
                }
            ]
        }
    }
};

// var ctx = document.getElementById("port-chart1").getContext('2d');
var ctx2 = $('#port-chart2')[0].getContext("2d");
//グラフ描画
// var char = new Chart(ctx).Line(BarDatas,options);
var char2 = new Chart(ctx2,lineDatas);
</script>

