//全体の背景を指定する
body{
    background-color:#F8F9FC;
}

//トップ画面の背景
.top-bg{
    background-image: image-url("123.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
}

.top-height{
    height: 100vh;
}

.top-button{
    //親要素に対して上下中央寄せ
    vertical-align: middle;
}

//サイドバーの仕切り
.under-line{
    border-bottom: 1px solid #6889E4;
}

//ユーザー認証のドロップダウンの矢印を非表示にする
.user-button.dropdown-toggle::after{
    display:none;
}

//メインアイコンの色
.top-icon{
    color:white;
}

//ユーザーアイコン
.user-icon{


}

//サイドバーの背景色を指定する
.left-bar{
    background-color:#4C72DE;
    height:2000px;
    //height: 100vh;
}

.fix-menu{
    background-color:#4C72DE;
    position: sticky;
    top:0px;
    height:200px;
    width:100%;
}

.user-name{
    font-size:20px;
    color:white;
}

.table-string{
    font-size:10px;
}


li{
    list-style:none;
}

//サイドナビのaタグの色を白にするコード
a{
    font-size:15px;
    color:#FFFFFF;
}

.port-area{
    background-color:white;
    border: dashed thin #bdc3c7;
    orverflow:auto;
}

#opt-result-table{
    font-size:5px;
}

//card-header
.card-header {
    //border-bottom: 0px solid rgba(0,0,0,.125);
}

//カードのヘッド名についての設定
h5{
    color:#4C72DE;
    font-size:1.0rem;
}

//メインコンテンツエリアの設定
//両幅のpaddingを０にして上書き
.main-col{
    padding-left:0px;
    padding-right:0px;
}

//横並びにする設定
.inline-block{
    display:inline-block;
}


//シミュレーション結果の囲み枠
.box1{
    //padding: 0.5em 1em;
    //margin: 2em 0;
    font-weight: bold;
    color: #6091d3;
    background: #FFF;
    border: solid 3px #6091d3;
    border-radius: 10px;
    margin: auto;
    //親要素に対して上下中央寄せ
    vertical-align: middle;
}

.box1 p {
    margin: 0;
    padding: 0;
}









